/* Ajuste de altura para las imágenes del carrusel */
.carousel-item img {
    max-height: 500px; /* Establece la altura máxima deseada */
    width: auto; /* Ancho automático para mantener la proporción */
    margin: auto; /* Centra la imagen horizontalmente */
}


.card {
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h1, h3 {
    margin-top: 20px;
}

.btn-success, .btn-secondary {
    margin-top: 20px;
}

/* Estilo para los botones */
.btn {
    background-color: #6e24cf;
    color: white;
}

/* Ajuste de tamaño para las imágenes del carrusel */
.carousel-item img {
    max-width: 100%; /* Ajusta el ancho máximo al contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
}

