/* Ajuste de altura para las imágenes del carrusel */
.carousel-item img {
    max-height: 500px; /* Establece la altura máxima deseada */
    width: auto; /* Ancho automático para mantener la proporción */
    margin: auto; /* Centra la imagen horizontalmente */
}


.card {
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h1, h3 {
    margin-top: 20px;
}

.btn-success, .btn-secondary {
    margin-top: 20px;
}

/* Estilo para los botones */
.btn {
    background-color: #6e24cf;
    color: white;
}

/* Ajuste de tamaño para las imágenes del carrusel */
.carousel-item img {
    max-width: 100%; /* Ajusta el ancho máximo al contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
}

.requerimientosContainer {
    max-width: 800px;
    margin: 50px auto;
    background: #341161;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.requerimientosContainer h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.requerimientos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.requerimiento {
    background: #6e24cf;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.requerimiento h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #c2c2c2;
}

.requerimiento ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.requerimiento li {
    font-size: 16px;
    margin-bottom: 8px;
    color: #e2e2e2;
}