.color-pagina {
    background: rgb(205, 92, 250);
  }
input:hover{
  font-family: cursive;
  font-size: larger;
}

.contenedorimagen-lg{
height: 700px;
}

.imagen-lg{
object-fit: cover;
object-position: bottom;
}
.bg-imagen {
  background-image: url('../img/BanerTriangulos.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
}
.buttoncomprar {
  background-color: #ff00f200; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.buttoncomprar:hover {
  background-color: #b400e600; 
}
