.color-pagina {
    background: rgb(205, 92, 250);
  }
input:hover{
  font-family: cursive;
  font-size: larger;
}

.contenedorimagen-lg{
height: 700px;
}

.imagen-lg{
object-fit: cover;
object-position: bottom;
}

  