/* Recordatorio borrar el comentario del final */

  
  .contenedorPerfil {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    height: 200px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .contenedorHijo {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 0;
  }
  .contenedorDeLogo {
    display: flex;
    width: 150px;
  }
  
  /* navbar */
  
  .nav-link {
    color: rgb(198, 198, 198);
  }
  .nav-link:hover {
    color: #9e7ce6;
    transition-duration: 300ms;
  }
  .navbar-toggler {
    border-color: white;
    border-width: 2px;
  }
  .navbar-toggler-icon {
    width: 1.3em;
    height: 1.5em;
  }
  
  @media screen and (min-height: 600px) and (max-width: 1024px) {
    a img.w-50 {
      width: 100% !important;
    }
  }
  
  @media screen and (min-height: 1024px) and (max-width: 1366px) {
    a img.w-50 {
      width: 100% !important;
    }
    a p.w-50 {
      width: 100% !important;
    }
  }
  
  /* footer */
  .hoverIconsRedesSociales {
    color: white;
  }
  @media screen and (min-height: 540px) and (max-width: 720px) {
    .w-75 {
      width: 50% !important;
    }
  }
  
  .hoverIconsRedesSociales:hover {
    color: #989898;
    transition-duration: 500ms;
  }
  
  .bg-imagen {
    background-image: url('../img/BanerTriangulos.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0;
    color: white; /* Asegura que el texto sea visible sobre el fondo */
}

.integrantes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px; /* Espaciado entre cada integrante */
}

.contenedorPerfil img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade sombra para destacar la imagen */
}

.text-center p {
    margin: 10px 0;
    color: #f8f9fa; /* Color blanco para los textos */
}


  /* Colores a usar */
  /* --violet: #8858ed;
  --blue: #190f30;
  --violet-1: #35053e;
  --white: #ffffff;
  --black: #000000;
  --rythm: #7c7c92; */
  